{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/basses/bass-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="bass-container">
  <div class="bass-img">
    <img
      id="bass-image"
      src="{% static 'images/basses/fender-jazz-200.png' %}" 
      alt="A bass guitar"
    >
  </div>
  <div class="bass-details">
    <h1>{{ bass.manufacturer }}-{{ bass.model_name }}</h1>
    <p>{{ bass.description }}</p>
    <div class="bass-actions">
      <a href="{% url 'basses_update' bass.id %}" class="btn warn">Edit</a>
      <a href="{% url 'basses_delete' bass.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="endorsement-amp-container">
  <section class="endorsements">
    <div class="subsection-title">
      <h2>Artist Endorsements</h2>
      <img 
        src="{% static 'images/favicon-32x32.png' %}" 
        alt="bass guitar"
      />
    </div>
    <h3>Add an Artist</h3>
    <form
      action="{% url 'add_musician' bass.id %}"
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ musician_form.as_p }}
      <button type="submit" class="btn submit">Add Endorsement</button>
    </form>
    <h3>Endorsement List</h3>
    <table>
      <thead>
        <tr><th>Artist Name</th></tr>
      </thead>
      <tbody>
        {% for musician in bass.musician_set.all %}
          <tr>
            <td>{{musician.name}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  <section class="amps">
    <div class="subsection-title">
      <h2>Plug into an Amp</h2>
    </div>
    <div class="subsection-content">
      {% if bass.amps.count %}
        {% for amp in bass.amps.all %}
          <div class="amp-container">
            <div 
              class="color-block"
              style="background-color: blue"
            ></div>
            <a href="{% url 'amps_detail' amp.id %}">
              <p>{{ amp.manufacturer }} {{ amp.model_name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-amps">the bass isn't plugged into any amps 😞</p>
      {% endif %}
    </div>
    <h3>Available Amps</h3>
    <div class="subsection-content">
      {% if amps.count %}
        {% for amp in amps.all %}
          <div class="amp-container">
            <div 
              class="color-block"
              style="background-color: red"
            ></div>
            <a href="{% url 'amps_detail' amp.id %}">
              <p>{{ amp.manufacturer }} {{ amp.model_name }}</p>
            </a>
            <form action="{% url 'assoc_amp' bass.id amp.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Connect</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-amps">
          {{bass.model_name}} is already connected to all amps 🥳
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}