{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/basses/bass-index.css' %}"
/>
{% endblock %}

{% block content %}

{% comment %} <section class="page-header">
  <h1>Cat List</h1>
  <img src="{% static 'images/cool-cat.svg' %}" alt="A cool cat" />
  <img src="{% static 'images/happy-cat.svg' %}" alt="A happy cat" />
  <img src="{% static 'images/teacup-cat.svg' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/cat-in-box.svg' %}" alt="A cat in a box" />
</section> {% endcomment %}
<h1>Bass List</h1>
<section class="card-container">
  {% for bass in basses %}
    <div class="card">
      <a href="{% url 'basses_detail' bass.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static '/images/freestocks-Fx5rrxSaUtI-unsplash.jpg' %}"
              alt="A bass guitar"
            >
          </div>
          <h2 class="card-title">{{ bass.manufacturer }}-{{ bass.model_name }}</h2>
          <p>{{ bass.description }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}