{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/basses/bass-index.css' %}"
/>
{% endblock %}

{% block content %}

{% comment %} <section class="page-header">
  <h1>Cat List</h1>
  <img src="{% static 'images/cool-cat.svg' %}" alt="A cool cat" />
  <img src="{% static 'images/happy-cat.svg' %}" alt="A happy cat" />
  <img src="{% static 'images/teacup-cat.svg' %}" alt="A cat in a teacup" />
  <img src="{% static 'images/cat-in-box.svg' %}" alt="A cat in a box" />
</section> {% endcomment %}

<section class="card-container">
  {% for bass in basses %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img 
            src="{% static 'images/' %}{{bass.image}}"
            alt="A bass guitar"
          >
        </div>
        <h2 class="card-title">{{ bass.model }}</h2>
        <p>A {{ bass.strings }}-string bass by {{ bass.manufacturer }}</p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}