{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/about.css' %}"
/>
{% endblock %}
{% block content %}
<div id='about-container'>
  <img src="https://images.unsplash.com/photo-1543060749-aa3f115aad09?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="bass guitars">
  <article>
    <h1>About Bass Collector</h1>
    <h2>Collect Bass Guitars and Amplifiers</h2>
    <p>Created by Patrick Cheung</p>
    <a target="_blank" rel="noopener noreferrer" href="https://github.com/thepika206/bass-collector">
      <button class="btn submit">
        View on GitHub
      </button>
    </a>
  </article>
  
</div>


{% endblock %}