{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<section class="logo-container">
  <div class="bass-container">
    <img src="{% static 'images/bass_logo.svg' %}" alt="A bass guitar" />
  </div>
  <img 
  src="{% static 'images/bass-collector1.png' %}" 
  alt="Text reads: Bass Collector"
/>
</section>

{% if not user.is_authenticated %} 
  <section>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>
{% endif %}
{% endblock %}