main{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40px;
}


ul, li {

  font-size: 18px;
}

#about-container{
  display: flex;
  flex-direction: column;
  height: 80vh;
}

div > img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

article {
  padding: 20px;
}

@media only screen and (min-width: 768px) {
  #about-container {
    flex-direction: row;
    max-width: 768px;
  }
}