{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/amps/amp-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="container">
  <div class="amp-img">
    <img 
      src="{% static 'images/amps/svt-200.png' %}" 
      alt="A bass amp"
    >
  </div>
  <div class="details">
    <h1>{{ amp.manufacturer }}-{{ amp.model_name }}</h1>
    <p>{{ amp.description }}</p>
    {% if amp.user == user %}
      <h3>this amp was created by you</h3>
      <div class="actions">
        <a href="{% url 'amps_update' amp.id %}" class="btn warn">Edit</a>
        <a href="{% url 'amps_delete' amp.id %}" class="btn danger">Delete</a>
      </div>
    {% else %}
      <h3>this amp was created by {{amp.user}}</h3>
    {% endif %}
  </div>
</section>

{% endblock %}