{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/basses/bass-index.css' %}"
/>
{% endblock %}

{% block content %}


<h1>Amps List</h1>
<section class="card-container">
  {% for amp in amps %}
    <div class="card">
      <a href="">
        <div class="card-content">
          <div class="card-img-container">
          </div>
          <h2 class="card-title">{{ amp.manufacturer }}-{{ amp.model_name }}</h2>
          <p>{{ amp.description }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}